body{
    background-color: rgb(50, 165, 35);
}


.App{
    height: 50vh;
    text-align: center;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.MainJoueur{
    
    
    display: flex;
    justify-content: center;
    
}
.CarteJouee{
    height: 50vh;
}

.Adversaire{
    height: 50vh;
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}



.Card{
    background-color: antiquewhite;
    width: 10rem;
    height: 15rem;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    
    border: 4px solid black;
    margin: 2em;
    
    
    
    
}

.Card p{
    color: red;
    font-size: 5em;
    align-self: center;
    
   
}