body{
    background-color: rgb(50, 165, 35);
}


.App{
    height: 50vh;
    text-align: center;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.MainJoueur{
    
    
    display: flex;
    justify-content: center;
    
}
.CarteJouee{
    height: 50vh;
    
}

.Adversaire{
   
    
    height: 50vh;
    
    display: flex;
    
    width: 100%;
    justify-content: space-around;
    
    overflow: auto;
}



.Card{
    position: absolute;
    background-color: antiquewhite;
    width: 10rem;
    height: 15rem;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    
    border: 4px solid black;
    margin: 2em;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
    
    
    
    
    
    
    
}



.Card:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;

}



.Card p{
    color: red;
    font-size: 5em;
    align-self: center;
 
    
   
}