.Global {
  text-align: center;
  padding: 3% 10% 3% 10%;
}

.App-logo {
  height: 40vmin;
}

.Luffy{
  background-repeat: no-repeat;
  background-size: contain,
  

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.Adversaires{
  width: 100%;
  background-color: whitesmoke;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Adversaires .Card{
  width: 8%;
  height: 5vh;

}


.CarteMisée{
  width: 100%;
  background-color: whitesmoke;
  height: 30vh;
  display: flex;
  justify-content: space-between;
}

.Adversaire1{
  width: 15%;
  background-color: red;
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}